:root {
  --html-fs: 1px;
  --ff: "Poppins", sans-serif;
  --transition: 0.2s all ease-in-out;

  --txt-900-55-ff: normal 900 55px / 127% var(--ff);
 
  --c-primary: #8842f0;
  --c-text-white: #fff;
  --c-color-txt: #e0e0e0;
  --c-text-span: #b82121;
  --c-color-border: rgba(255, 255, 255, 0.6);
  --c-background-btn: rgba(0, 0, 0, 0.65);
  --c-background-span: #393939;
}
