html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --html-fs: 1px;
  --ff: "Poppins", sans-serif;
  --transition: 0.2s all ease-in-out;
  --txt-900-55-ff: normal 900 55px / 127% var(--ff);
  --c-primary: #8842f0;
  --c-text-white: #fff;
  --c-color-txt: #e0e0e0;
  --c-text-span: #b82121;
  --c-color-border: rgba(255, 255, 255, 0.6);
  --c-background-btn: rgba(0, 0, 0, 0.65);
  --c-background-span: #393939;
}

html {
  font-size: var(--html-fs);
}

body {
  font-size: 16px;
  --font-family: var(--ff);
  background: #000;
}

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-top: 50px;
}

.container-dashboard {
  max-width: 306px;
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  background: #fff;
  padding: 0 28px;
}

.active {
  padding: 11px 8px;
  background: #5932ea;
  border-radius: 8px;
  width: 250px;
  height: 46px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #fff;
}

.not-active {
  background: #fff;
  padding: 11px 8px 11px;
  border-radius: 8px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1;
}

.dashboard {
  padding: 37px 0 76px;
}
.dashboard-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 64px;
  transition: var(--transition);
}
.dashboard-header:hover {
  scale: 1.05;
}
.dashboard-header__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: #000;
}
.dashboard-header__txt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #838383;
  margin-left: -4px;
  margin-bottom: -10px;
}
.dashboard__ul {
  display: grid;
  gap: 40px;
}
.dashboard__a {
  display: flex;
  align-items: center;
  gap: 14px;
  transition: var(--transition);
}
.dashboard__a:hover {
  background: #5932ea;
}
.dashboard__a-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #9197b3;
}
.dashboard__a-arrow {
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid var(--c-border);
}
.header__backdrop {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transform: translateX(120%);
  display: none;
  transition: var(--transition);
  opacity: 0;
}
@media (max-width: 992px) {
  .header__backdrop {
    display: block;
  }
}
.header__backdrop._active {
  opacity: 1;
  transform: translateX(0);
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 9;
}
@media (max-width: 992px) {
  .header__ul {
    z-index: 9;
    position: fixed;
    width: 70%;
    height: 100%;
    flex-direction: column;
    left: 0;
    top: 0;
    background: var(--c-primary);
    align-items: center;
    justify-content: center;
    transform: translateX(-120%);
    transition: var(--transition);
  }
}
.header__ul._active {
  transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-text-white);
}
@media (max-width: 992px) {
  .header__a {
    color: var(--c-text-white);
  }
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.footer {
  padding: 20px;
}

/*# sourceMappingURL=styles.css.map */
